p{
    color:blue;
}
.yahio {
    background-color: violet;
}
h1 {
    font-size: 24px;
    text-align: center;
}
.box {
    width: 300px;
    height: 200px;
    padding: 20px;        /* 內距 */
    margin: 10px;         /* 外距 */
    border: 2px solid #000;
}